{% extends 'base.html.twig' %}

{% block body %}
    {{ knp_menu_render('AppBundle:Builder:categories', { 'style': 'pills' }) }}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>
                        <a href="{{ path('category_show', {'id': category.id}) }}">
                            {{ category.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
