{% extends 'base.html.twig' %}
{% set menuItem = knp_menu_get('AppBundle:Builder:categories', [], {'cateegory': category}) %}

{% block body %}
    {{ knp_menu_render(menuItem, { 'style': 'pills' }) }}

    <h1>{{ category.name }}</h1>

    <hr/>
{% endblock %}
