{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div id="welcome">
            <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
        </div>
    </div>
{% endblock %}