{% extends 'base.html.twig' %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="well">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                               required="required"
                               class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" class="form-control"/>
                    </div>

                    <input type="submit"
                           class="btn btn-success btn-block btn-large"
                           id="_submit"
                           name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>
                    <br/>
                    <a href="{{ hwi_oauth_login_url('google') }}" class="btn btn-info btn-large btn-block">Login with google</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}