{% extends 'base.html.twig' %}
{% set menuItem = knp_menu_get('AppBundle:Builder:projects', [], {'project': project}) %}

{% block body %}
    {{ knp_menu_render(menuItem, { 'style': 'pills' }) }}

    <h1>{{ project.name }}</h1>

    <hr/>

    <p>{{ project.description|nl2br }}</p>
{% endblock %}
