{% extends 'base.html.twig' %}
{% set menuItem = knp_menu_get('AppBundle:Builder:tasks', [], {'task': task}) %}

{% block body %}
    {{ knp_menu_render(menuItem, { 'style': 'pills' }) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
