{% extends 'base.html.twig' %}

{% block body %}
    {{ knp_menu_render('AppBundle:Builder:tasks', { 'style': 'pills' }) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
