{% extends 'base.html.twig' %}

{% block body %}
    {{ knp_menu_render('AppBundle:Builder:tasks', { 'style': 'pills' }) }}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project</th>
                <th>Category</th>
                <th>Deadline</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href="{{ path('get_task', {'id': task.id}) }}">
                            {{ task.name }}
                        </a>
                    </td>
                    <td>{{ task.project.name }}</td>
                    <td>{{ task.category.name }}</td>
                    <td>{{ task.deadline|date('d M Y G:i') }}</td>
                    <td>{{ task.completed ? 'Yes' : 'Not yet' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
