{% extends 'base.html.twig' %}
{% set menuItem = knp_menu_get('AppBundle:Builder:tasks', [], {'task': data}) %}

{% block body %}
    {{ knp_menu_render(menuItem, { 'style': 'pills' }) }}

    <h1>{{ data.name }}</h1>

    <hr/>

    <p>
        <strong>Category:</strong> {{ data.category.name }}<br/>
        <strong>Project:</strong> {{ data.project.name }}<br/>
        <strong>Deadline:</strong> {{ data.deadline|date('d M Y G:i') }}<br/>
    </p>

    <p>{{ data.description|nl2br }}</p>
{% endblock %}
